body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 2.5em;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}


main {
    width: 90%;
    max-width: 800px;
}

#counter-section {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#counter-section p {
    font-size: 1.2em;
}

#counter {
    font-weight: bold;
    font-size: 1.5em;
}

#increment-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
}

#increment-btn:hover {
    background-color: #0056b3;
}

#music-section, #resources-section {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

iframe {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
}

ul li a:hover {
    text-decoration: underline;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}